@import '~antd/dist/antd.less';
/* 
alternatives: 
@import '~antd/dist/antd.dark.less'; 
@import '~antd/dist/antd.compact.less'; 
*/

// load Medium editor theme styles with webpack
@import '~medium-editor/dist/css/medium-editor.css';
@import '~medium-editor/dist/css/themes/default.css';



.App {
  text-align: center;
}

.logo {
  height: 32px;
  margin: 8px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.site-page-header {
  //border: 1px solid rgb(235, 237, 240);
}