@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

/* 
alternatives: 
@import '~antd/dist/antd.dark.less'; 
@import '~antd/dist/antd.compact.less'; 
*/

// load Medium editor theme styles with webpack
//@import '~medium-editor/dist/css/medium-editor.css';
//@import '~medium-editor/dist/css/themes/default.css';

@light-owl: #2ab88f;
@dark-owl: #239e79;


@primary-color: @dark-owl; //#1890ff; // primary color for all components
@link-color: @dark-owl;//#1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers







.App {
  text-align: center;
}

.logo {
  height: 32px;
  margin: 0px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.site-page-header {
}